#Outputs-div {
  position: relative;
  left: 50px;
  top: 50px;
  border: darkblue solid;
  height: 350px;
  /* min-height: 350px; */
  /* max-height: 300px; */
  display: flex;
  width: 1000px;

  border-radius: 10px;
}

.Outputs-label {
  font-weight: bold;
  text-decoration: underline;
  font-size: xx-large;
  margin-left: 50px;
}

.Outputs-message {
  margin-left: 10px;
}

#Outputs-divShift {
  border: darkblue solid 1px;
  /* min-height: 100px; */
  width: 60%;

  overflow: hidden;
  overflow-y: scroll;

  /* max-height: 500px; */
}
#Outputs-divMessage {
  width: 40%;
  border: darkblue solid 1px;
}
